<!-- templates/show.html -->
{% extends 'base.html' %}

{% block content %}

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>Title: {{ song.title }}</h1>
        <h2>Composer: {{ song.composer}}</h2>
        <h3>Image of sheetmusic goes here</h3>
        <div class="card"><div class="card-body">
            <img src="http://www.gamemusicthemes.com/sheetmusic/supernintendo/thelegendofzeldaalinktothepast/overworldtheme/The_Legend_of_Zelda_-_A_Link_to_the_Past_-_Overworld_Theme_Sheet_Music_by_w3sp_1.png" alt="sheetmusic">
        </div></div>

<!--Delete Button-->
<p><form method='POST' action='/detail/{{ song._id }}/delete'>
    <button type='submit'>Delete</button>
</form></p>

<!--Edit Button-->
<p><a href='/detail/{{ song._id }}/edit'>Edit</a></p>

{% include 'comment_form.html'%}
<br>

{% for comment in comments %}
    {% include 'comment.html' %}
{% endfor %}
    </div>
</div>
{% endblock %}
