<!-- templates/show.html -->
{% extends 'base.html' %}

{% block content %}

<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>Title: {{ song.title }}</h1>
        <h2>Composer: {{ song.composer}}</h2>
        <h3>Image of sheetmusic goes here</h3>


        <img src="https://cdn.shopify.com/s/files/1/0017/6760/4339/products/LZSPANKKKISATLOZLAMT_1024x.png?v=1529014429" alt="sheetmusic">


<!--Delete Button-->
<p><form method='POST' action='/detail/{{ song._id }}/delete'>
    <button type='submit'>Delete</button>
</form></p>

<!--Edit Button-->
<p><a href='/detail/{{ song._id }}/edit'>Edit</a></p>

{% include 'comment_form.html'%}
<br>

{% for comment in comments %}
    {% include 'comment.html' %}
{% endfor %}
    </div>
</div>
{% endblock %}
